{% extends "base.html" %}

{% load static %}

{% block active %}
    <li class="active">
        <a href="{%url 'homeapp:dashboard' %}">
            <i class='bx bxs-dashboard bx-rotate-90' style='color:rgb(0, 0, 0), 255, 0;'></i>
            <span class="text">Dashboard</span>
        </a>
    </li>
    <li>
        <a href="{%url 'homeapp:drones' %}">
            <i class='bx bx-command bx-rotate-90'></i>
            <span class="text">Drones</span>
        </a>
    </li>
    <li>
        <a href="{%url 'homeapp:reports' %}">
                <i class='bx bxs-report'></i>
            <span class="text">Reports</span>
        </a>
    </li>
    <li>
        <a href="{%url 'homeapp:alerts' %}">
            <i class='bx bx-bell '></i>
            <span class="text">Alerts</span>
        </a>
    </li>
    <li>
        <a href="{%url 'homeapp:team' %}">
            <i class='bx bxs-group' ></i>
            <span class="text">Team</span>
        </a>
    </li>
{% endblock %}

{% block titleshit %}
   Dashboard
{% endblock %}

{% block titleshit2 %}
   Home
{% endblock %}

{% block main %}
   

    <ul class="box-info">
        <li>
            <i class='bx bxs-calendar-check' ></i>
            <span class="text">
                <h3> {{ drone_active }} </h3>
                <p>Active Drone</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-group' ></i>
            <span class="text">
                <h3> {{ drone_not_active }} </h3>
                <p>Inactive Drones</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-dollar-circle' ></i>
            <span class="text">
                <h3>{{ unread_alerts }}</h3>
                <p>Alerts</p>
            </span>
        </li>
    </ul>


    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Drones</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Drone</th>
                        <th>Last Connection Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for drone in drone_list %}
                        {% if drone.active %}
                            <tr>
                                <td>
                                    <img src="{% static 'images/drone.svg' %}">
                                    <p>{{drone.dronename}}</p>
                                </td>
                                <td>{{currenttime}}</td>
                                <td><span class="status completed">Online</span></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <img src="{% static 'images/drone.svg' %}">
                                    <p>{{drone.dronename}}</p>
                                </td>
                                <td>{{drone.lastconnectiondate.date}}</td>
                                <td><span class="status pending">Pending Connection</span></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="todo">
            <div class="head">
                <h3>Recent Reports</h3>
            </div>
            <ul class="todo-list">
                {% for report in reports_list %}
                    {% if report.writer.username == "Admin" %}
                    <li class="completed">
                        <p>{{report.reportname}}</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    {% else %}
                    <li class="not-completed">
                        <p>{{report.reportname}}</p>
                        <i class='bx bx-dots-vertical-rounded'}"></i>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}

{% endblock %}